# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Logs
*.log

# Dependency lock files (optional to ignore if you want reproducibility)
# package-lock.json

# Environment files
.env

# Build outputs
dist/
build/

# Docker
*.pid

#runtime data
backend/cpu_stats.json
backend/memory_stats.json
backend/temp_stats.json
backend/containers.json